*{
    font-family: Arial;
}
.navbar {
    background-color: #2b3494;
    --bs-navbar-color: rgba(248, 249, 250, 0.75);
    --bs-navbar-hover-color: rgba(248, 249, 250, 1);
    --bs-navbar-disabled-color: rgba(248, 249, 250, 0.5);
    --bs-navbar-active-color: rgba(248, 249, 250, 1);
    --bs-navbar-brand-color: rgba(248, 249, 250, 1);
    --bs-navbar-brand-hover-color: rgba(248, 249, 250, 1);
    --bs-navbar-toggler-border-color: rgba(248, 249, 250, 0.5);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 249, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

footer {
    background-color: #2b3494;
}
